<article class="container">
    <div class="d-flex flex-wrap">
        <div class="card mr-lg-1-5 mb-1-5">
            <h1 class="mb-1-5">Product Proportion by Position</h1>
            <circular-chart [data]="productProportion" label="Products" type="BENCHMARK"></circular-chart>
        </div>
        <div class="card mb-1-5">
            <h1 class="mb-1-5">Attribute Proportion by Position</h1>
            <circular-chart [data]="attributeProportion" label="Attributes" type="BENCHMARK"></circular-chart>
        </div>
    </div>
  
</article>